body {
    background: #516e77;
    margin: 0;
    font-family: Roboto, Arial, Helvetica;
    font-weight: 300;
}
.containter{
    width: 80%
}

.flex-container{
    display: flex;
    width: 100%;
    
}
.roundbox{
    display: flex;
    width: 70%;
    height: 100%;
    background-color: grey;
    justify-content: space-around;
    border-radius: 15px;
    margin: 80px;
}

#mywork{
    font-size: large;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #00a86b;
    font-weight: 300px;
}
#headshot{
    height: 500px;
    width: 400px;
    float: right;
    margin: 30px;
}
.pic{
    position: relative;
    width: 100%;
    height: 100%;
}
.trans_image{
    display: block;
    width: 100%;
    height: 100%;
}
#youtube{
    width: 1510px;
    height: 900px;
    border: 0;
}
#resume{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 2100px;
    padding: 20px;
}
.overlay{
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25ms;
}
.overlay:hover{
    opacity: 1;
    transition: all ease-in-out 250ms
}
.overlay_name{
    font-size: 2em;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}
.overlay_description{
    font-size: 0.55em;
    margin-top:0.25em;

}


header {
    background: #00a86b;
    width: 100%;
}
.logo {
    margin: 10px;
    height: 100px;
    width: 100px;
    float: left;
    padding: 10px;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
nav {
    float: right;
    background-color: #00a86b;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 40px;
}
nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 50px;
    
    position: relative;
}

nav a{
    color: hsl(0, 0%, 15%);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
nav a:hover {
    color: #000;
    font-size: 20px;
}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width:100%;
    background-color:#ccc;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%
}
img {
    width: 100%;
 }
 h1 {
    margin: 15px 0;
    font-weight: 300;
    font-size: 30px;
 }
 h2 {
    margin: 0;
    font-weight: 200;
    color: black;
    font-size: 20px;
 }
 #greeting{
    font-size: 150px; 
    margin: 30px;
 }
 #aboutmeinfo{
     font-size: 50px;
 }
 .card {
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
    border: 2px solid #aaa;
 
 }
 #aboutme {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
    }

 .card .avatar{
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
 }
 .contacts {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 .contacts li {
    width: 40px;
    display: inline-block;
    padding: 20px 10px;
 }
 .contacts li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
 }
.golfflex{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}
#picofbot{
    width: 50%;
    height: 50%;
    justify-content: center;
    margin: 20px;
}
#GolfTitle{
    justify-content: center;
    font-weight: bold;
    font-size: 100px;
    margin:0px;
}
#data{
    font-size: 40px;
}
#datatitle{
    font-size: 100px;
    margin:0px;
}
#rip{
    justify-content: center;
    font-size: 40px;

}